body{
    margin:0;
}
.box{
    display:block;
}
.small-1,.small-2,.small-3{
    height:100vh;
}
.small-1{
    background-color: aqua;
}
.small-2{
    background-color: burlywood;
}
.small-3{
    background-color: crimson;
}
@media(min-width:600px){
    .small-1,.small-2,.small-3{
        height:50vh;
    }
}
@media(min-width:800px){
    .box{
        display:flex;
        flex-wrap: wrap;
    }
    .small-1{
        width:70%;
        height:100vh;
        order:2;
    }
    .small-2{
        width:30%;
        height:100vh;
        order:1;
    }
    .small-3{
        width:100%;
        height:40vh;
        order:3;
    }
}
@media(min-width:900px)
{
    .small-1{
        width:60%;
        order:2;
    }
    .small-2{
        width:20%;
        order:1;
    }
    .small-3{
        width:20%;
        height:100vh;
        order:3;
    }
}