body{
    margin:0;
}
.box{
    display:block;
}
.small-1{
    height:20vh;
    background-color: aqua;
}
.small-2{
    height:60vh;
    background-color: burlywood;
}
.small-3{
    height:100vh;
    background-color: crimson;
}
@media(min-width:600px){
    .small-1{
        height:30vh;
    }
    .small-2{
        height:46vh;
    }
    .small-3{
        height:60vh;
    }
}
@media(min-width:800px){
    .box{
        display:flex;
        flex-wrap:wrap;
    }
    .small-one
    {
        width:80%;
    }
    .small-1{
        width:20%;
        height:100vh;
    }
    .small-2{
        width:80%;
        height:50vh;
    }
    .small-3{
        width:80%;
        height:50vh;
    }
}
@media(min-width:1000px)
{
    .box{
        width:1000px;
        margin:0 auto;
    }
}